.wrapper {
    margin: 1rem;
}

.module, .styleLabel {
    font-size: 1rem;
    font-family: 'Segoe UI';
    color: #9494a7;
    font-weight: 200;
    margin: 5px;
}

.settingsContainer {
    padding: 1rem;
    background-color: #ebf3f9;
    box-shadow: 2px 2px 4px #d7d7d7;
    border-radius: 5px;
    font-family: 'segoe ui';
    margin: 1rem 0;
    color: #70707c;
}

.settingsContainer > p {
    margin: 5px 0;
    color: #524f52;
}

.settingsContainer > h4 {
    margin: 0.5rem 0 1rem;
}



